@media (max-width: 767px) {
    .estacao-chart-container {
        display: none;
    }
}

@media (min-width: 768px) {
    .estacao-chart-container {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border: 1px solid #d9e3e7;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        /* padding: 16px; */
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        background: #fafafa;
        overflow: hidden;
        min-height: 0;
    }

    .estacao-chart-title {
        font-size: 24px;
        color: #0e4d6f;
        /* margin-bottom: 10px; */
        text-align: center;
    }
}