#root {
  max-width: 1920px;
  margin: 0 0;
  padding: 0;
  background-color: #fafafa;
}

body {
  font-family:  'Times New Roman', Times, Georgia, Garamond, serif;
  background-color: #fafafa;
}

* {
  font-family:  'Times New Roman', Times, Georgia, Garamond, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #5f5f5f;
}