#root {
  max-width: 1920px;
  margin: 0 0;
  padding: 0;
  background-color: #fafafa;
  height: 100%;
}

@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 240px repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
  } 
}

body {
  font-family:  'Times New Roman', Times, Georgia, Garamond, serif;
  background-color: #fafafa;
  height: 100%;
}

html {
  height: 100%;
}

* {
  font-family:  'Times New Roman', Times, Georgia, Garamond, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #5f5f5f;
}