@media (max-width: 767px) {
  .estacao-card {
    width: 100%;
  }

  p.categoria-ic {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 1px 20px;
    white-space: nowrap;
    color: #fff;
    font-weight: bold;
    font-family: "ui-rounded", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .bkg-categoria-ic {
    top: 13%;
    left: 50%;
    border-radius: 8px;
    border: 1px solid #888;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }

  .gauge-estacao {
    width: 300px;
    height: 250px;
    position: relative;
    display: inline-block;
    justify-content: center;
  }

  .estacao-card-container {
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #d9e3e7;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    max-width: 380px;

  }

  .estacao-card-bairro {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    text-justify: center;
    font-family: "sans-serif";
    padding: 10px 0;
    color: #0e4d6f;
  }

  .estacao-card-tabela {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border: #ddd 1px solid;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  tr td {
    border-bottom: 1px solid #ddd;    
  }

  .estacao-card-titulo-tab {
    font-size: 18px;
    padding-right: 10px;
    text-align: left;
    text-justify: center;
  }

  .estacao-card-valor-tab {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-justify: center;
  }

  .estacao-card-linha-tab {
    height: 35px;
  }

  .container-principal-gauge {
    width: 300;
    height: 300;
    display: inline-block;
  }
}